<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.project.dao.ProjectPeopleMapper">
<!--    <select id="getAllPeopleInGroup" resultMap="ProjectPeople">-->
<!--        SELECT * FROM `t_user_info` as a,`project_info` as b,`project_people` as c-->
<!--        where a.sid= c.sid-->
<!--        and b.pid=c.pid-->
<!--        and c.pid= (select pid from project_people where sid=#{sid})-->
<!--    </select>-->

    <resultMap id="PeopleInGroup" type="cc.mrbird.febs.project.domain.ProjectPeople"></resultMap>
    <select id="getAllPeopleInGroup" resultType="cc.mrbird.febs.project.domain.PeopleInGroup">
        SELECT a.sid,a.name,a.classs,b.position
        FROM `t_user_info` as a,`project_member_info` as b
        where a.sid= b.sid and b.pid in (select pid from project_member_info where sid= #{sid} and pid = #{pid})
    </select>


    <select id="getPeopleInSameGroup" resultType="cc.mrbird.febs.project.domain.ProjectPeople">

    </select>


    <insert id="createProjectPeoples" parameterType="java.util.List">
        insert into project_member_info(pid,sid,position) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.pid},#{item.sid},#{item.position})
        </foreach>
    </insert>


</mapper>
