<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.project.dao.ProjectInfoMapper">
    <update id="updateProjectInfo" parameterType="cc.mrbird.febs.project.domain.ProjectInfo">
        update project_info
        <set>
            <if test="projectInfo.startTime != null">start_time=#{projectInfo.startTime},</if>
            <if test="projectInfo.endTime != null">end_time=#{projectInfo.endTime},</if>
            <if test="projectInfo.projectName != null">project_name=#{projectInfo.projectName},</if>
            <if test="projectInfo.groupLeader != null">group_leader=#{projectInfo.groupLeader},</if>
            <if test="projectInfo.projectDesc != null">project_desc=#{projectInfo.projectDesc},</if>
            <if test="projectInfo.teacherName != null">teacher_name=#{projectInfo.teacherName},</if>
            <if test="projectInfo.projectType != null">project_type=#{projectInfo.projectType}</if>
        </set>
        where pid=#{pid}
    </update>

    <select id="findProjectInfoList" resultType="cc.mrbird.febs.project.domain.ProjectInfo">
        SELECT * from project_info
        <if test="pid != null and pid != ''">
            where pid = #{pid}
        </if>
    </select>


</mapper>
